/*----------------
    DEBUG
------------------*/
.debug .big-container {
    border: 2px dashed blueviolet;
}

.debug .small-container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.big-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.small-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*padding-left: 20px;
    padding-right: 20px;*/
}

.row {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-50{
    gap: 50px;
}

.col {
    flex-grow: 1;
    width: 33%;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", serif;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
    padding: 50px 0;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-blue{
    background-color: #0161fd;
    color: white;
    border: none;
}

.btn-transp{
    border: 1px solid black;
}

#lftbtn{
    margin-left: 0;
}
/*----------------
    HEADER
------------------*/
header{
    display: flex;
    padding: 20px 5px;
    background-color: white;
    position: sticky;
    top: 0;
}

.headerleft{
    width: 50%;
    align-items: center;
}

.headerright{
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.headerleft a{
    text-decoration: none;
    margin-left: 15px;
    color:black;
}

.headerright a{
    text-decoration: none;
    margin-right: 15px;
    color:black;
}
/*----------------
    MAIN
------------------*/
.hero{
    display: flex;
    background-color: #b3d0e6;
}

.colsmall{
    width: 35%;
}

.colbig{
    width: 65%;
}

.column{
    width: 100%;
    border: 1px solid black;
}

.hero .colsmall{
    padding: 50px 0;
}

.hero .colbig{
    padding: 50px 0;
}

.hero a{
    color: black;
    text-decoration: none;
}

.border{
    border: 1px solid grey;
}

.box{
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 10px 0px;
}

.content{
    padding-top: 30px;
    padding-left: 20px;
}

.row.gap-30{
    padding: 50px 0;
}

.price{
    font-weight: bold;
    padding: 30px 0;
}

.time{
    color: grey;
}

ul{
    padding: 50px 0;
    list-style-type: none;
}

li{
    padding: 10px;
}

.sndcontent{
    padding-left: 30px;
}

.row > .colbig{
    padding-top: 30px;
    padding-left: 30px;
}

.colsmall > .btn-large.btn-blue{
    margin: 50px;
}

.marg{
    margin: 50px 0;
}

.pad40{
    padding: 40px 0;
}

.marg100{
    margin-bottom: 100px;
}

.pad40 h3{
    font-size: 40px;
}

#padl0{
    padding-left: 0;
}

.colsmall > h3{
    margin-top: 60px;
}
/*----------------
    FOOTER
------------------*/
footer{
    background-color: black;
}

footer h3{
    color: white;
}

footer .big-container .row{
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

footer ul{
    color: white;
    font-size: 14px;
    list-style-type: none;
}

footer li{
    padding: 10px 0;
}

.footer-bottom{
    color: white;
    border-top: 1px solid white;
    padding: 50px 0;
}